/* styles.css */

body, html, .button {
    background: rgb(249, 249, 249);
    color: rgb(31, 31, 31);
    font: min(2vh, calc(2vw/1.85)) "Roboto Mono", "Roboto", monospace;
    margin: 0;
    padding: 0;
}

#local-nav {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1;
    list-style-type: none;
    margin: 0vh 0vw 3vh 0vw;
    padding: 0;
    overflow: auto;
    background-color: rgb(35, 35, 35);
    li {
        float: left;
    }
    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgb(110, 110, 110);
    }
    li a.active {
        background-color: rgb(120, 0, 200);
    }
}

main {
    clear: left;
}

.part {
    float: left;
    box-sizing: border-box;
}
.left, .right {
    width: 25vw;
    padding: 10vh 5vw;
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border-bottom: 1px solid black;
        text-align: center;
        padding: 1vh 0vw;
    }
    tr:nth-child(even) {
        background-color: rgb(235, 235, 235);
    }
    th {
        font-size: min(2.5vh, calc(2.5vw/1.85));
    }
}
.center {
    width: 50vw;
    section {
        height: min(67vh, calc(67vw/1.85));
        width: 100%;
        margin: auto;
        border: min(1vh, calc(1vw/1.85)) solid black;
        border-radius: min(2vh, calc(2vw/1.85));
        text-align: center;
        h1 {
            margin: 2vh 0;
        }
    }
}
#headerHeadshot {
    width: min(20vw, calc(20vh*1.85));
    height: min(20vw, calc(20vh*1.85));
    border-radius: 50%;
}



#footer {
    text-align: center;
}

h1 {
    font-size: min(5vh, calc(5vw/1.85));
}
h2 {
    text-decoration: underline;
    font-size: min(4vh, calc(4vw/1.85));
    margin: 0vh 0vw 2vh 1vw;
}
h3 {
    font-size: min(3vh, calc(3vw/1.85));
    margin: 1vh 0vw 1vh 1.5vw;
}

p, address {
    margin-left: 1.5vw;
}

#portfolio {
    p {
        margin-bottom: 2vh;
    }
}

input, textarea {
    padding: 0vh 1vw;
    border-style: solid;
    border-width: min(0.35vh, calc(0.35vw/1.85));
    margin-bottom: 2vh;
    margin-left: 1.5vw;
    border-color: rgb(31, 31, 31);
    background-color: White;
}

.app-container {
    width: min(80vw, calc(80vh*1.6));
    height: min(80vh, calc(80vw/1.6));
    position: relative;
    overflow: hidden;
    margin: 0vh 0vw 0vh 1.5vw;
}

.app {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

#emailInput {
    width: 20vw;
    height: 3vh;
    padding: 0vh 0.5vw;
}

#gform {
    .nameInput {
        width: 6vw;
    }
    .emailInput {
        width: 21vw;
        margin-bottom: 1.5vh;
    }
    textarea {
        display: inline;
        margin: 0;
        padding: 0;
    }
    margin-left: 1.5vw;
}

th, td {
    border-bottom: 0.25vh solid rgb(31, 31, 31);
}

.local-nav-section {
    padding-top: 6.5vh; /* Adjust as needed */
    margin-top: -6.5vh; /* Negative margin equal to the navbar height */
}